{% extends 'base.html' %}
{% block content %}

<h2>You have {{ g.curr_game.remaining_guesses }} guesses left. Guess the numbers below:</h2>

<form action="/submit-guess" method="POST">
  {{ g.csrf_form.hidden_tag() }}

  {% for n in range(g.curr_game.num_count) %}
  <label for="{{n}}">Num {{n + 1}}:</label>
  <input name="num-{{n}}" id="{{n}}">
  <br>
  {% endfor %}
  <br>
  <button type="submit">Make guess!</button>

</form>

<div>
  {% if g.curr_game.guess_history |length > 0 %}

  <h2>Your guess history:</h2>
  <ul>
    {% for guess in g.curr_game.guess_history %}
    <li>
      {{loop.index0 + 1}}: {{ guess.numbers_guessed }} -- {{g.curr_game.feedback[loop.index0]}}
    </li>
    {% endfor %}
  </ul>

  {% else %}

  <h2>No guesses made yet.</h2>
  {% endif %}
</div>

{% endblock %}